parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false

services:
    errorFormatter.sarif:
        class: PHPStanSarifErrorFormatter\SarifErrorFormatter
        arguments:
            relativePathHelper: @simpleRelativePathHelper
            currentWorkingDirectory: %currentWorkingDirectory%
            pretty: true
